
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> YAZILIM DÜNYASINA HOŞGELDİNİZ </h2>
<!-- Begin Slider -->
<div id="showcase" class="showcase">
    <!-- Each child div in #showcase represents a slide -->
    <div class="showcase-slide">
        <!-- Put the slide content in a div with the class .showcase-content. -->
        <div class="showcase-content"> <img src="~/style/images/art/s1.jpg" alt="1" /> </div>
    </div>

    <!-- Each child div in #showcase represents a slide -->
    <div class="showcase-slide">
        <!-- Put the slide content in a div with the class .showcase-content. -->
        <div class="showcase-content"> <img src="~/style/images/art/s2.jpg" alt="2" /> </div>
        <div class="showcase-caption">

        </div>
    </div>

</div>
<!-- End Showcase -->
<!-- Başlangıç Slogan -->
<div class="intro">" İŞLEYEN KOD BUG TUTMAZ " </div>
<div class="hr2"></div>
<!-- Bitiş  Slogan -->


<div class="tabbed-content">
    <h3>Tabs</h3>
    <ul class="tabs">
        <li><a href="#tab1">This is</a></li>
        <li><a href="#tab2">Tabbed</a></li>
        <li><a href="#tab3">Content</a></li>
    </ul>
    <div class="tab_container">
        <div style="display: none;" id="tab1" class="tab_content">
            <h4></h4>
            <p><img src="~style/images/art/c1.jpg" class="left" alt="" /></p>
        </div>
        <div style="display: none;" id="tab2" class="tab_content">
            <h4></h4>
            <p><img src="~style/images/art/c2.jpg" class="right" alt="" /> </p>
        </div>
        <div style="display: none;" id="tab3" class="tab_content">
            <h4> </h4>
            <p> </p>
        </div>
    </div>
</div>
<!-- Begin Top Columns -->
<h2>What We Do</h2>
<div class="two-third">
    <p>Vivamus sodales pharetra libero, a tincidunt nisi condimentum a. Quisque non sodales nislero. Integer a tellus eget arcu fringilla molestie quis vel eros. Praesent fermentum vulputate purusa ornare. Vivamus imperdiet, quam et adipiscing placerat, nibh odio scelerisque risus, vitaere accumsan mi justo et quam. Pellentesque quis felis quis tortor porttitor lobortis nec ac risus.</p>
</div>
<div class="one-third last">
    <ul>
        <li>Vivamus at magna non ipsum.</li>
        <li>Etiam pharetra pretium eros.</li>
        <li>Curabitur porttitor ipsum nec magna.</li>
        <li>Maecenas cursus arcu a nulla tristique.</li>
    </ul>
</div>
<!-- End Top Columns -->