
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> YAZILIM DÜNYASINA HOŞGELDİNİZ </h2>
<!-- Begin Slider -->
<div id="showcase" class="showcase">
  
    <div class="showcase-slide">
      
        <div class="showcase-content"> <img src="~/style/images/art/bg1.jpg" alt="1" /> </div>
    </div>

    <!-- Each child div in #showcase represents a slide -->
    <div class="showcase-slide">
        <!-- Put the slide content in a div with the class .showcase-content. -->
        <div class="showcase-content"> <img src="~/style/images/art/bg2.jpg" alt="2" /> </div>
        <div class="showcase-caption">

        </div>
    </div>

</div>
<!-- End Showcase -->
<!-- Başlangıç Slogan -->
<div class="intro">" İŞLEYEN KOD BUG TUTMAZ " </div>
<div class="hr2"></div>
<!-- Bitiş  Slogan -->
<!-- Başlangıç YAZILIM KURALLARI -->
<div class="tabbed-content">
    <h3>YAZILIM HAKKINDA </h3>
    <ul class="tabs">
        <li><a href="#tab1">C#</a></li>
        <li><a href="#tab2">SQL</a></li>
        <li><a href="#tab3">WEB API</a></li>
    </ul>
    <div class="tab_container">
        <div style="display: none;" id="tab1" class="tab_content">
            <h4></h4>
            <p><img src="~style/images/art/c1.jpg" class="left" alt="" /></p>
        </div>
        <div style="display: none;" id="tab2" class="tab_content">
            <h4></h4>
            <p><img src="~/style/images/art/c2.jpg" class="right" alt="" /> </p>
        </div>
        <div style="display: none;" id="tab3" class="tab_content">
            <h4> </h4>
            <p> </p>
        </div>
    </div>
</div>
<!-- SON TEKNOLOJİLER   -->
<h2> SON TEKNOLOJİLER </h2>
<div class="two-third">
    <p>Vivamus sodales pharetra libero, a tincidunt nisi condimentum a. Quisque non sodales nislero. Integer a tellus eget arcu fringilla molestie quis vel eros. Praesent fermentum vulputate purusa ornare. Vivamus imperdiet, quam et adipiscing placerat, nibh odio scelerisque risus, vitaere accumsan mi justo et quam. Pellentesque quis felis quis tortor porttitor lobortis nec ac risus.</p>
</div>
<div class="clear"></div>
<br />
<br />

<div class="one-third">
    <img src="~/style/images/icon1.png" alt="" class="center" /><br />
    <h4 class="center">Web Design</h4>
    <p class="center">Vivamus soder pharetra libero atincidunt, nisi condimentum Quisque non sodales nislero.</p>
</div>

<div class="one-fourth">
    <img src="~/style/images/icon3.png" alt="" class="center" /><br />
    <h4 class="center">Motion Graphic</h4>
    <p class="center">Vivamus soder pharetra libero atincidunt, nisi condimentum Quisque non sodales nislero.</p>
</div>
<div class="one-fourth last">
    <img src="~/style/images/icon4.png" alt="" class="center" /><br />
    <h4 class="center">Optimization</h4>
    <p class="center">Vivamus soder pharetra libero atincidunt, nisi condimentum Quisque non sodales nislero.</p>
</div>
<div class="clear"></div>
<div class="hr1"></div>
<!-- SON TEKNOLOJİLER BİTİŞ   -->